/* PHASE 5: Cats */
.content-header {
  position: relative;
  background-image: url("../../shared/img/cats.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 900px;
  margin: 0 auto;
  height: 200px;
  border-bottom: 1px solid #ccc;
}

.content-header > h1 {
  display: block;
  position: absolute;
  text-align: center;
  font-size: 36px;
  color: #fff;
  text-shadow: #000 0 0 10px;
  bottom: 17px;
  left: 240px;
}

.content-header > button{
  position: absolute;
  bottom: 20px;
  left: 760px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 700;
}
