/* PHASE 9: Forms */
.content-main {
  float: right;
  width: 640px;
  position: relative;
  display: block;
  padding-top: 20px;
  padding-left: 20px;
}



.content-main .thumb {
  float: left;
  display: block;
  margin-right: 20px
}

.content-main form {
  float: left;
  display: block;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
  padding: 19px;
}

.input {
  padding-bottom: 20px;
}

.input label {
  font-weight: 700;
  display: block;
  position: relative;
  padding-bottom: 5px;
}

.input input, textarea {
  background: #fff;
  width: 478px;
  padding: 10px;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit {
  position: relative;
  bottom: 3px;
  font-weight: 400;
}

.submit > button {
  background: #0c0;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: #070 0px 2px;
  font-weight: 700;
}

.submit > button:hover {
  background: #0a0;
}

.submit > a {
  font-weight: 700;
}

.submit > a:hover {
  color: #f00;
}

.input textarea {
  min-height: 120px;
}

.input input:focus, textarea:focus {
  border: 1px solid #0c0;
}
